body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../images/bg.webp') no-repeat center center fixed;
    background-size: cover;
    text-align: center;

    color: #ffffff; /* Set font color to white */

}
.header {
    background-color: #84fbf1;
    text-align: center;
    padding: 20px;
}
.nav {
    text-align: center;
    margin-top: 20px;
}
.nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}
.content {
    padding: 20px;
}
section {
    margin-bottom: 20px;
}

/* Footer styles */


/* Existing styles... */

.thumbnails {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center thumbnails horizontally */
    gap: 10px; /* Adjust the space between thumbnails */
}

site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 150px;
    padding: 0 20px; /* Add horizontal padding */
    background-image: url('../images/header.webp');
    background-size: cover;
    background-position: center;
    color: white;
    overflow: hidden;
}

.nav a {
    margin-left: 20px; /* Space between links */
    color: white; /* Adjust link color as needed */
    text-decoration: none; /* Optional: removes underline from links */
}

/* Additional styles for .nav to align links to the right */
.nav {
    display: flex;
    justify-content: center; /* Centers the links horizontally */
    align-items: center; /* Centers the links vertically if needed */
}

.highlighted-text {
    padding: 20px;
    background-color: transparent; /* Ensures background is transparent */
    border: 1px solid white; /* White outline */
    margin: 20px 0; /* Adds vertical space around the box */
    color: rgb(251, 251, 251); /* Ensures text color is white for visibility */
    width: 50%;
    margin: auto; 
}

/* Center the button container */
.button-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    margin: 20px 0; /* Optional: Adds vertical spacing */
}

/* Style the link as a button */
.github-button {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #4CAF50; /* GitHub green, change as desired */
    color: white; /* Text color */
    text-decoration: none; /* Remove underline from link */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Optional: makes the text bold */
    transition: background-color 0.3s; /* Smooth background color change on hover */
}

.github-button:hover {
    background-color: #45a049; /* Darker shade on hover */
}

